body{
    width: 70%;
    margin: auto;
    margin-top: 70px;
}

#login-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.left-div {
    flex: 1;
}
.slider {
    width: 100%;
    overflow: hidden;
  }

.slider img {
    padding: 80px 80px;
    height: auto;
    display: block;
}

#last p{
    text-align: center;
}