/* All page CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px soli d red; */
}
body {
  color: #666;
  min-height: 480px;
  min-width: 320px;
  max-width: 1350px;
  margin: auto;
  /* font-size: 1rem!important; */
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h2,
h3,
h4 {
  color: #1a1a1a;
}
h1 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* -------------------------------------------------- */

/* Navbar Overriding Css */

.text_inside_first_header_row a {
  font-size: 12px;
}

/* ------------------------------------------------ */

#container {
  width: 100%;
  /* height: 300vh; */
  margin-top: 50px;
  /* background-color: tomato; */
}

/* part-1 */

#part-1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

#sliderDiv {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  height: 175px;
  padding: 0 40px;
}

.slider {
  /* width: 800px; */
  width: 100%;
  /* height: 500px; */
  height: 175px;
  border-radius: 2px;
  /* border: solid red; */
  overflow: hidden;
}

.slides {
  width: 500%;
  /* height: 500px; */
  height: 175px;
  display: flex;

  /* border: solid green; */
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  /* width: 800px; */
  max-width: 100%;
  height: 500px;
  height: 175px;
}

/* Css for manual slide navigation */

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 1px solid #151616;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #0f0f0f;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* .auto-btn1 ~ .manual-btn{
  background-color: #000;
  border: 100px solid red;
} */

/* CSS for automatic navigation */

.navigation-auto {
  position: absolute;
  display: flex;
  /* width: 800px; */
  width: 100%;
  justify-content: center;
  margin-top: 152px;
  /* border: 2px solid red; */
  margin-left: -275px;
}

.navigation-auto div {
  /* border: 1px solid #40d3dc; */
  position: relative;
  padding: 5px;
  border-radius: 10px;
  /* transition: 1s; */
  margin: 2px 15px 0 0;
  display: none;
  /* gap: 40px; */
}

.navigation-auto div:not(:last-child) {
  margin-right: 37px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #000000;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #000000;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #0a0a0a;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #050505;
}

@media (min-width: 1368px) {
  .navigation-auto div {
    display: none;
  }
}

/* resposive part-1 "slider, img, dots" */
@media screen and (max-width: 1050px) {
  .manual-btn,
  .navigation-auto div {
    display: none;
  }
  .slider + img {
    display: none;
  }
  #container {
    margin-top: 30px;
  }
  #sliderDiv {
    height: 200px;
    padding: 0;
    margin: auto;
  }
}
@media screen and (max-width: 871px) {
  .manual-btn,
  .navigation-auto div {
    display: none;
  }
  .slides img,
  .slides,
  .slider,
  .sliderDiv {
    height: 160px;
    margin: 0;
    padding: 0;
    margin: auto;
  }
  .slider + img {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .manual-btn,
  .navigation-auto div {
    display: none;
  }
  .slides img,
  .slides,
  .slider,
  .sliderDiv {
    height: 120px;
    margin: 0;
    padding: 0;
    margin: auto;
  }
  .slider + img {
    display: none;
  }
  #container {
    margin-top: 10px;
  }
}
@media screen and (max-width: 410px) {
  .manual-btn,
  .navigation-auto div {
    display: none;
  }
  .slides img,
  .slides,
  .slider,
  .sliderDiv {
    /* height: 130px; */
    padding: 0;
  }
  .slider + img {
    display: none;
  }
  #container {
    margin-top: 0;
  }
}

/* ------------------------------------------------ */

/* part-2 */

#part-2 {
  display: flex;
  height: 13vh;
  justify-content: center;
  align-items: center;

  width: 100%;
  border: 2px solid #e0e0e0;
  background-color: #fff;
  border-width: 2px 0;
}
#part-2 h1 {
  margin: 12px 0;
  font-size: 24px;
}

/* responsive part-2 "h1" */
@media screen and (max-width: 724px) {
  #part-2 h1 {
    margin: 6px 0;
    font-size: 18px;
  }
  #part-2 {
    height: 9vh;
  }
}
@media screen and (max-width: 530px) {
  #part-2 h1 {
    margin: 2px 0;
    font-size: 15px;
  }
  #part-2 {
    height: 9vh;
  }
}
@media screen and (max-width: 410px) {
  #part-2 h1 {
    margin: 2px 0;
    font-size: 11px;
  }
  #part-2 {
    height: 9vh;
  }
}
/* -------------------------------------- */

/* part-3 */
.fullimg {
  width: 100%;
  padding: 20px 2%;
}

/* -------------------------------------- */

/* part-4 */
#part-4 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 20px 0 10px 30px;
}

#part-4 p {
  font-size: 14px;
  /* height: 45px; */
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#healthConcerns {
  display: flex;
  /* border: 1px solid red; */
  overflow: hidden;
  padding: 0px 20px;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
}

.pseudobuttons {
  /* border: 2px solid red; */
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: -25px;
  opacity: 0.8;
}
.pseudobuttons:hover {
  opacity: 1;
  cursor: pointer;
}

.pseudoprev {
  opacity: 0;
}

.healthConcernsDivs {
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
}
.healthConcernsDivs:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.healthConcernsDivs p {
  padding-top: 10px;
}

/* ---------------------------------------- */

/* part-5 */
/* some of the css comes from part-4 */

#part-5 {
  /* display: fixed;
    box-sizing: border-box; */
  margin-bottom: 30px;
}
#part-5 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

#part-5 p {
  font-size: 14px;
  height: 35px;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------------------------------------- */

/* part-8 Popular Combo Deals */

#part-8 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

.part-8-main-Container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  padding: 0px 200px 0 40px;

  /* width: 200%; */
  overflow: hidden;
  /* position: relative; */
}

.part-8-Container-card {
  padding: 20px 10px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  /* display: block; */
  min-width: 170px;
  /* max-height: 300px; */
  overflow: hidden;
  text-align: left;
  min-height: 300px;
  /* align-self: center; */
  cursor: pointer;
}

.part-8-Container-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.part-8-Container-card img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.part-8-Container-card h3 {
  font-size: 14px;
  height: 35px;
  overflow: hidden;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 10px 0;
}

.part-8-Container-card p {
  font-size: 12px;
  color: #757575;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.part-8-Container-card .oldPriceDiv {
  display: flex;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 5px;
}

.part-8-Container-card .oldPriceDiv .discount {
  color: #1aab2a;
}

.part-8-Container-card .price {
  /* font-size: 14px; */
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  color: #212121;
}

#part-8 .pseudobuttons {
  margin-top: 170px;
  margin-left: -5px;
  overflow: hidden;
}

#part-8 > div {
  display: flex;
  justify-content: space-between;
}

#part-8 button {
  font-weight: 700;
  /* align-self:flex-end; */
  margin: 40px 15px 5px 0;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px 10px !important;
  height: 1.7rem;
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
#part-8 button:hover {
  background-color: #fa5647;
}

/* --------------------------------------------------- */

/* part-9 Calcium Supplement */

#part-9 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

.part-9-main-Container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 200px 0 40px;
  overflow: hidden;
}

.part-9-Container-card {
  padding: 20px 10px;
  min-width: 170px;
  overflow: hidden;
  text-align: left;
  min-height: 300px;
}

.part-9-Container-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.part-9-Container-card img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.part-9-Container-card h3 {
  font-size: 14px;
  height: 35px;
  overflow: hidden;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 10px 0;
}

.part-9-Container-card p {
  font-size: 12px;
  color: #757575;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.part-9-Container-card .oldPriceDiv {
  display: flex;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 5px;
}

.part-9-Container-card .oldPriceDiv .discount {
  color: #1aab2a;
}

.part-9-Container-card .price {
  /* font-size: 14px; */
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  color: #212121;
}

#part-9 .pseudobuttons {
  margin-top: 170px;
  margin-left: -5px;
  overflow: hidden;
}

#part-9 > div {
  display: flex;
  justify-content: space-between;
}

#part-9 button {
  font-weight: 700;
  /* align-self:flex-end; */
  margin: 40px 15px 5px 0;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px 10px !important;
  height: 1.7rem;
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
#part-9 button:hover {
  background-color: #fa5647;
}

/* ----------------------------------------------- */

/* part-12 In the Spotlight */

#part-12 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

.part-12-main-Container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 200px 0 40px;
  overflow: hidden;
}

.part-12-Container-card {
  padding: 20px 10px;
  min-width: 170px;
  overflow: hidden;
  text-align: left;
  min-height: 300px;
  cursor: pointer;
}

.part-12-Container-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.part-12-Container-card img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.part-12-Container-card h3 {
  font-size: 14px;
  height: 35px;
  overflow: hidden;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 10px 0;
}

.part-12-Container-card p {
  font-size: 12px;
  color: #757575;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.part-12-Container-card .oldPriceDiv {
  display: flex;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 5px;
}

.part-12-Container-card .oldPriceDiv .discount {
  color: #1aab2a;
}

.part-12-Container-card .price {
  /* font-size: 14px; */
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  color: #212121;
}

#part-12 .pseudobuttons {
  margin-top: 170px;
  margin-left: -5px;
  overflow: hidden;
}

#part-12 > div {
  display: flex;
  justify-content: space-between;
}

#part-12 button {
  font-weight: 700;
  /* align-self:flex-end; */
  margin: 40px 15px 5px 0;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px 10px !important;
  height: 1.7rem;
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
#part-12 button:hover {
  background-color: #fa5647;
}

/* ----------------------------------------------- */

/* part-13 Treanding now */

#part-13 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

.part-13-main-Container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 200px 0 40px;
  overflow: hidden;
}

.part-13-Container-card {
  padding: 20px 10px;
  min-width: 170px;
  overflow: hidden;
  text-align: left;
  min-height: 300px;
  cursor: pointer;
}

.part-13-Container-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.part-13-Container-card img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.part-13-Container-card h3 {
  font-size: 14px;
  height: 35px;
  overflow: hidden;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 10px 0;
}

.part-13-Container-card p {
  font-size: 12px;
  color: #757575;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.part-13-Container-card .oldPriceDiv {
  display: flex;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 5px;
}

.part-13-Container-card .oldPriceDiv .discount {
  color: #1aab2a;
}

.part-13-Container-card .price {
  /* font-size: 14px; */
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  color: #212121;
}

#part-13 .pseudobuttons {
  margin-top: 170px;
  margin-left: -5px;
  overflow: hidden;
}

#part-13 > div {
  display: flex;
  justify-content: space-between;
}

#part-13 button {
  font-weight: 700;
  /* align-self:flex-end; */
  margin: 40px 15px 5px 0;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px 10px !important;
  height: 1.7rem;
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
#part-13 button:hover {
  background-color: #fa5647;
}

/* ----------------------------------------------- */

/* part-14 Breakfast */

#part-14 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

.part-14-main-Container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 200px 0 40px;
  overflow: hidden;
}

.part-14-Container-card {
  padding: 20px 10px;
  min-width: 170px;
  overflow: hidden;
  text-align: left;
  min-height: 300px;
  cursor: pointer;
}

.part-14-Container-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.part-14-Container-card img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.part-14-Container-card h3 {
  font-size: 14px;
  height: 35px;
  overflow: hidden;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 10px 0;
}

.part-14-Container-card p {
  font-size: 12px;
  color: #757575;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.part-14-Container-card .oldPriceDiv {
  display: flex;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 5px;
}

.part-14-Container-card .oldPriceDiv .discount {
  color: #1aab2a;
}

.part-14-Container-card .price {
  /* font-size: 14px; */
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  color: #212121;
}

#part-14 .pseudobuttons {
  margin-top: 170px;
  margin-left: -5px;
  overflow: hidden;
}

#part-14 > div {
  display: flex;
  justify-content: space-between;
}

#part-14 button {
  font-weight: 700;
  /* align-self:flex-end; */
  margin: 40px 15px 5px 0;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px 10px !important;
  height: 1.7rem;
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
#part-14 button:hover {
  background-color: #fa5647;
}

/* ----------------------------------------------- */

/* part-15 Bodymassagers */

#part-15 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

.part-15-main-Container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 200px 0 40px;
  overflow: hidden;
}

.part-15-Container-card {
  padding: 20px 10px;
  min-width: 170px;
  overflow: hidden;
  text-align: left;
  min-height: 300px;
  cursor: pointer;
}

.part-15-Container-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.part-15-Container-card img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.part-15-Container-card h3 {
  font-size: 14px;
  height: 35px;
  overflow: hidden;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 10px 0;
}

.part-15-Container-card p {
  font-size: 12px;
  color: #757575;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.part-15-Container-card .oldPriceDiv {
  display: flex;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 5px;
}

.part-15-Container-card .oldPriceDiv .discount {
  color: #1aab2a;
}

.part-15-Container-card .price {
  /* font-size: 14px; */
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  color: #212121;
}

#part-15 .pseudobuttons {
  margin-top: 170px;
  margin-left: -5px;
  overflow: hidden;
}

#part-15 > div {
  display: flex;
  justify-content: space-between;
}

#part-15 button {
  font-weight: 700;
  /* align-self:flex-end; */
  margin: 40px 15px 5px 0;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px 10px;
  height: 1.7rem;
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
#part-15 button:hover {
  background-color: #fa5647;
}

/* ----------------------------------------------- */

/* part-16 Bodymassagers */

#part-16 h2 {
  font-size: 18px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  margin: 40px 0 10px 30px;
}

.part-16-main-Container {
  display: flex;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px 200px 0 40px;
  overflow: hidden;
}

.part-16-Container-card {
  padding: 20px 10px;
  min-width: 170px;
  overflow: hidden;
  text-align: left;
  min-height: 300px;
  cursor: pointer;
}

.part-16-Container-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.part-16-Container-card img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.part-16-Container-card h3 {
  font-size: 14px;
  height: 35px;
  overflow: hidden;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 10px 0;
}

.part-16-Container-card p {
  font-size: 12px;
  color: #757575;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.part-16-Container-card .oldPriceDiv {
  display: flex;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 5px;
}

.part-16-Container-card .oldPriceDiv .discount {
  color: #1aab2a;
}

.part-16-Container-card .price {
  /* font-size: 14px; */
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  color: #212121;
}

#part-16 .pseudobuttons {
  margin-top: 170px;
  margin-left: -5px;
  overflow: hidden;
}

#part-16 > div {
  display: flex;
  justify-content: space-between;
}

#part-16 button {
  font-weight: 700;
  /* align-self:flex-end; */
  margin: 40px 15px 5px 0;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px 10px !important;
  height: 1.7rem;
  font-size: 0.75rem;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
#part-16 button:hover {
  background-color: #fa5647;
}

/* ----------------------------------------------- */

/* beforeFooter */

#beforeFooter {
  display: block;
  text-align: justify;
  padding: 50px 50px;
  /* border: 2px solid chartreuse; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 50px 0;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
}

#beforeFooter h2,
h3 {
  font-weight: 600;
  color: #1a1a1a;
  font-weight: 600;
}

#beforeFooter h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#beforeFooter p {
  font-size: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* ----- Footer ------------- */

/* India's Largest Health-Care Platform */
#topbar {
  text-align: center;
}
.topbar-last {
  display: flex;
  justify-content: space-evenly;
  /* gap: 300px; */
  padding: 30px;
}
.topbar-last div {
  padding: 5px;
}

.topbar-last .numbers {
  font-size: larger;
  font-weight: 1000;
  color: black;
}
.topbar-last .numberDesc {
  font-size: medium;
  font-weight: 500;
  color: black;
}

/* Rooler */
#centerd-line-in-footer {
  margin: 10px 100px;
  /* padding: 1px;        */
  border: 2px solid black;
  border-radius: 100px;
  opacity: 0.5;
}

/* Download our App */
#download-our-app {
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#download-our-app .get-link {
  font-size: 20px;
}
.enter-mobile-number-div button {
  border-radius: 4px;
  background-color: #ff6f61;
  width: 112px;
  height: 40px;
  margin-left: 8px;
  border: none;
  vertical-align: middle;
  color: #fff;
}

.enter-mobile-number-div button:hover {
  cursor: pointer;
  background-color: #fc5142;
}

.enter-mobile-number-div input {
  outline: none;
  box-shadow: none;
  border: none;
  color: #000;
  height: 40px;
  width: 300px;
  background-color: #f1f4f6;
  padding-left: 15px;
  vertical-align: middle;
}

/* know-us-divs */

#know-us-divs {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin: 50px;
}

#know-us-divs h3 {
  font-size: 16px;
  font-weight: 600;
}

#know-us-divs li {
  /* text-decoration: none; */
  list-style-type: none;
  font-size: 13px;
}

#know-us-divs li:hover {
  color: #000;
}

#know-us-divs .KNOW_US {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#know-us-divs .KNOW_US ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
#know-us-divs img {
  width: 35px;
  border-radius: 10px;
  cursor: pointer;
}
#know-us-divs .social-media img {
  padding: 3px;
}
#know-us-divs .KNOW_US .logos {
  width: 90%;
  border-radius: 5px;
}

/* ------------------------ */

.debounceList {
  list-style-type: none;
  font-size: 13px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(189, 185, 185);
}

#results {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  background-color: white;
  padding: 20px;
  margin: -40px 0 0 330px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 10px;
  border-radius: 20px;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #results {
    margin: -60px 0 0 430px;
  }
}

@media screen and (max-width: 1060px) {
  #results {
    margin: -65px 0 0 350px;
  }
}

@media screen and (max-width: 800px) {
  #results {
    margin: -65px 0 0 250px;
    width: 60%;
  }
}

@media screen and (max-width: 667px) {
  #results {
    margin: -25px 0 0 50px;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  #results {
    margin: -25px 0 0 10px;
    width: 90%;
  }
}
