/* Navbar Overriding Css */

.text_inside_first_header_row a {
  font-size: 12px;
}
/* ------------------- */

body {
  max-width: 1350px;
  margin: auto;
}

#displayData {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px; 
  justify-content: center;
  gap: 1em;
}

.parent {
  display: flex;
  width: 360px;
  gap: 0;

  /* justify-content: space-evenly; */
  /* border: 1px solid red; */
}
.pics {
  display: flex;
  /* border: 1px solid;  */
  border-color: red;
  /* position: fixed; */
  /* margin-left: -800px; */
  margin-right: 20px;    
  /* float: left; */
}
.small_image {
  max-width: 15%;
  margin-top: 20px;
  /* border: 1px solid green; */
}
.small_image > div {
  padding: 5px;
}
.small_image > div > img {
  /* width: 38px; */
  /* height: 51px; */
  width: 100%;
  cursor: pointer;
}
#big_image {
  /* width: 70%; */
  /* padding-left: 50px; */
  /* padding-right: -30px; */
}
#big_image img {
  width: 100%;
  /* height: 350px; */
}
input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.5em;
  margin-left: -120px;
}
input[type="radio"] {
  accent-color: orangered;
}
#pricesector {
  margin-left: 60px;
  margin-top: 20px;
}
#currentPriceandMRP {
  display: flex;
  gap: 0;
}
.secondDivinpricesector {
  /* margin-left: -70px; */
  font-size: large;
  font-weight: 600;
}

#package {
  padding: 5px 60px 5px 10px;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.905);
}
#btn {
  width: 80%;
  margin-left: 40px;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  background-color: rgb(234, 111, 66);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: large;
}
#cartsection {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  width: 400px;
  /* border: 1px solid red; */
  /* height: 300px; */
  padding: 0 0 10px;
}

#rating {
  background-color: green;
  border-radius: 5px;
  padding: 4px;
  color: white;
  /* width: 100%; */
}

#ratediv {
  display: flex;
  gap: 15px;
  align-items: center;
}
#rate {
  color: orangered;
  font-size: larger;
}
.icon {
  color: white;
}
#size {
  display: flex;
  gap: 10px;
}
#size p {
  border: 2px solid;
  padding: 10px;
  border-color: orangered;
  border-radius: 10px;
  color: orangered;
}

/* * {
  border: 1px solid red;
} */

/* ---- */
#description {
  /* margin-left: -20px; */
  max-width: 450px;
}
#name h2 {
  font-size: large;
  padding: 0 20px;
}

#brand {
  margin-left: 20px;
}

#ratediv {
  margin-left: 20px;
}

#main_img_1 {
  padding: 0;
  margin: 0;
}
#big_image {
  padding: 10px 10px 0 20px;
  margin: 0;
}



/* ----- Footer ------------- */

/* India's Largest Health-Care Platform */
#topbar {
  text-align: center;
}
.topbar-last {
  display: flex;
  justify-content: space-evenly;
  /* gap: 300px; */
  padding: 30px;
}
.topbar-last div {
  padding: 5px;
}

.topbar-last .numbers {
  font-size: larger;
  font-weight: 1000;
  color: black;
}
.topbar-last .numberDesc {
  font-size: medium;
  font-weight: 500;
  color: black;
}

/* Rooler */
#centerd-line-in-footer {
  margin: 10px 100px;
  /* padding: 1px;        */
  border: 2px solid black;
  border-radius: 100px;
  opacity: 0.5;
}

/* Download our App */
#download-our-app {
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#download-our-app .get-link {
  font-size: 20px;
}
.enter-mobile-number-div button {
  border-radius: 4px;
  background-color: #ff6f61;
  width: 112px;
  height: 40px;
  margin-left: 8px;
  border: none;
  vertical-align: middle;
  color: #fff;
}

.enter-mobile-number-div button:hover {
  cursor: pointer;
  background-color: #fc5142;
}

.enter-mobile-number-div input {
  outline: none;
  box-shadow: none;
  border: none;
  color: #000;
  height: 40px;
  width: 300px;
  background-color: #f1f4f6;
  padding-left: 15px;
  vertical-align: middle;
}

/* know-us-divs */

#know-us-divs {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 90%;
  margin: 50px auto;
}

#know-us-divs h3 {
  font-size: 16px;
  font-weight: 600;
}

#know-us-divs li {
  /* text-decoration: none; */
  list-style-type: none;
  font-size: 13px;
}

#know-us-divs li:hover {
  color: #000;
}

#know-us-divs .KNOW_US {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#know-us-divs .KNOW_US ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
#know-us-divs img {
  width: 35px;
  border-radius: 10px;
  cursor: pointer;
}
#know-us-divs .social-media img {
  padding: 3px;
}
#know-us-divs .KNOW_US .logos {
  width: 90%;
  border-radius: 5px;
}
