<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">

    <script src="https://kit.fontawesome.com/a079df429a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main-nav">

        <div id="navbar-top">
            <div id="logo">
                <img src="https://www.1mg.com/images/tata_1mg_logo.svg" alt="logo">
            </div>
            <div id="navbar-top-options1">
                <ul style="list-style-type: none">
                    <li>
                        <a href="">MEDICINES</a>
                    </li>
                    <li>
                        <a href="">LAB TESTS<span>SAFE</span></a>
                    </li>
                    <li>
                        <a href="">CONSULT DOCTORS</a>
                    </li>
                    <li>
                        <a href="">COVID-19</a>
                    </li>
                    <li>
                        <a href="">AYURVEDA</a>
                    </li>
                    <li>
                        <a href="">CARE PLAN<span>SAVE MORE</span></a>
                    </li>
                </ul>
            </div>
            <div id="navbar-top-options2">
                <ul style="list-style-type: none">
                    <li>
                        <p><a href="login.html">Login</a> | <a href="login.html">Sign Up</a></p>
                    </li>
                    <li>
                        <a href="">Offers</a>
                    </li>
                    <li>
                        <img src="https://www.1mg.com/images/header/cart-icon-rebrand.svg">
                    </li>
                    <li>
                        <a href="">Need Help?</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="navbar-middle">
            <div id="navbar-middle-location">
                <select id="location">
                    <optgroup label="TOP CITIES"></optgroup>
                    <option value="New Delhi">New Delhi</option>
                    <option value="Gurgoan">Gurgoan</option>
                    <option value="mumbai">mumbai</option>
                    <option value="Pune">Pune</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Hydrabad">Hydrabad</option>
                    <option value="Ahmdabad">Ahmdabad</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Indore">Indore</option>
                    <option value="Lucknow">Lucknow</option>
                    <option value="Bhopal">Bhopal</option>
                    <option value="Jaipur">Jaipur</option>
                    <option value="Noida">Noida</option>
                    <option value="Navi Mumbai">Navi Mumbai</option>
                    <option value="Surat">Surat</option>
                    <option value="patnapatna">patna</option>
                    <option value="Ghaziabad">Ghaziabad</option>
                    <option value="Bhubaneshwar">Bhubaneshwar</option>
                    <option value="Faridabad">Faridabad</option>
                    <option value="Agra">Agra</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Bhubaneshwar">Bhubaneshwar</option>
                    <option value="Chandigad">Chandigad</option>
                    <option value="Coimbatore">Coimbatore</option>
                    <option value="Dehradun">Dehradun</option>
                    <option value="Faridabad">Faridabad</option>
                    <option value="Ghaziabad">Ghaziabad</option>
                    <option value="Gurgoan">Gurgoan</option>
                    <option value="Howrah">Howrah</option>
                    <option value="Hydrabad">Hydrabad</option>
                    <option value="Mohali">Mohali</option>
                    <option value="Nagpur">Nagpur</option>
                    <option value="Nashik">Nashik</option>
                </select>
            </div>
            <div id="navbar-middle-search">
                <input type="text" placeholder="search for Medicines and health Product">
            </div>
            <div id="navbar-middle-quick-order">
                QUICK BUY! Get 25% off on medicines*<span>Quick order</span>
            </div>
        </div>
        <div id="navbar-bottom">
            <ul style="list-style-type: none">
                <li>
                    <a href="">MEDICINES</a> <i class="down-arrow">></i>

                    <div class="dropdown-part">
                        <ul class="ul-styling" style="list-style-type: none">
                            <li>
                                <a href="#">All Diseases</a>
                            </li>
                            <li>
                                <a href="#">All Medicines</a>
                            </li>
                            <li>
                                <a href="#">Medicines by Therapeutic Class</a> 
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    
</body>
</html>